<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.4">
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml,/WEB-INF/struts-config-dynamic.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>oneway</servlet-name>
    <servlet-class>com.autosite.servlet.OneWayServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>jquery_text</servlet-name>
    <servlet-class>com.autosite.servlet.JQueryTestServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>customscripts</servlet-name>
    <servlet-class>com.autosite.servlet.CustomScriptsServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>pagescripts</servlet-name>
    <servlet-class>com.autosite.servlet.PageScriptsServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>pollscripts</servlet-name>
    <servlet-class>com.autosite.servlet.PollScriptsServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>imgforward</servlet-name>
    <servlet-class>com.autosite.servlet.ImageForwardServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>oneway</servlet-name>
    <url-pattern>/oway/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jquery_text</servlet-name>
    <url-pattern>/jquery_text/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>customscripts</servlet-name>
    <url-pattern>/cscr/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pagescripts</servlet-name>
    <url-pattern>/pscr/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pollscripts</servlet-name>
    <url-pattern>/pollscr/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>imgforward</servlet-name>
    <url-pattern>/mimgs/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>imgforward</servlet-name>
    <url-pattern>/simgs/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>imgforward</servlet-name>
    <url-pattern>/pimgs/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>BaseFilter</filter-name>
    <filter-class>com.autosite.servlet.filter.AutositeBaseFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BaseFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>